* { -webkit-transform: none!important; -webkit-transition-property: none!important; -webkit-backface-visibility: none!important;}


body {
	font-family: Georgia;
	margin: 0;
	padding: 0;
	background-color: #000;
}


.logo {
	position: relative;
	width: 100%;
	text-align: center;
	z-index: 0;
	overflow: hidden;
	display: block;
}

.logo IMG {
	position: relative;
	width: 100%;
}

.premiere {
	position: absolute;
	top: 2em;
	padding-left: 50%;
	margin-left: -300px;
}

.premiere h1, .premiere h2, .premiere p {
	display: inline;
}

.premiere h1, .premiere p {
	font-weight: bold;
	font-size: 1.25em;/*20/16px*/
	color: #fff3B9;
}

.premiere h2, .add-container h3 {
	font-family: 'Source Sans Pro';
}

.premiere a, .premiere h2 {
	font-weight: normal;
	font-size: 1.125em;
	color: #fff;
}


.add-container h3 {
	text-align: right;
	font-size: 0.75em;
	margin-bottom: 0.2em;
	color: #939598
}

.wholeContainer {
	width: 100%;
	max-width: 1024px;
	margin: 0px auto;
	overflow: hidden;
}

A {
	text-decoration: none;
}

.topReturn {
	text-align: center;
	position: fixed;
	width: 2.5em;
	height: 1.5em;
	left: -1em;
	background-color: #E4E4E4;
	z-index: 10;
	border-radius: 0.5em;
	padding: 0.2em;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 0.6em solid transparent;
	border-right: 0.6em solid transparent;
	border-bottom: calc(1.2em*0.866) solid black;
	z-index: 2;
	margin-left: 1.1em;
	margin-top: .2em;
}

.topContainer {
	float: left;
	width: 100%;
	height: auto;
	position:relative;
	padding-top: 2%;
	margin-top: -180px;
	overflow: hidden;
}

.videoContainer {
	float: left;
	padding-top: 25px;
	padding-bottom: 62.5%;
	position: relative;
	width: calc(95% - 400px);
	height: 0 !important;
	display: inline-block;
	margin-left: 5.97%;
	vertical-align: top;
	overflow: hidden;
	margin-bottom: -63%;
}


.videoContainer iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	line-height: 0;
}

.vidInfo {
	position: relative;
	float: left;
	width: calc(95% - 400px);
	margin-left: 5.97%;
	margin-top: -4%;
}

.vidInfo h2, .vidInfo p {
	color: #e6e7e8;
	font-size: 1.125em;
}

.vidInfo h2 {
	font-family: georgia;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0;
}

.vidInfo p {
	font-family: 'Source Sans Pro';
	font-weight: lighter;
	line-height: 1.5em;
}

.vidInfo p.tagline {
	font-family: georgia;
	font-weight: bold;
	font-size: 1.25em;
	margin-top: 0;
}


/*All add-block css below*/

.add-container {
	top: 0;
	width: 300px;
	height: 380px;
	padding-left: 1%;
}

#add-block {
	position: static;
	margin: 0 auto;
	margin-top: 1.5em;
}

#add-block-placer {
	display: none;
	width: 300px;
	height: 380px;
}

#ad-mobile {
	width: 100%;
	float: left;
	display: block;
}

@media only screen and (min-width: 768px) {
      .js #add-block-placer { display: inline; float: left; margin-left: 1%; vertical-align: top; }
      .js #add-block { display: inline-block; position: absolute; z-index: 1;}
    }

/* end of add-block code*/

.shop {
	width: 100%;
	background-color: #aaa;
	padding-top: 20px;
	margin-top: 1em;
	padding-bottom:20px;
	text-align: center;
	font-family: 'Source Sans Pro';
}

#grid {
	position: relative;
	width: 89.75%;
	margin-left: 5.97%;
	margin-right: 4.28%;
	height: auto;
/*	padding-left: 5%;
	padding-right: 5%;*/
	overflow: hidden;
}



.col {
	position: relative;
	float: left;
	width: 31%;
	margin-right: 1.69%;
	text-transform: uppercase;
}

.cell {
	width: 96%;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding: 3%;
	background-color: #3a3a3c;
	overflow: hidden;
}

.cell IMG {
	position: relative;
	width: 100%;
	height: auto;
}

.cell:hover IMG {
	opacity: .8;
}

.airdate {
	font-weight: bold;
	font-size: 1.375em;
	color: #d1d2d4;
	background-color: #58595b;
	padding-top: .8em;
	padding-bottom: .8em;
	font-family: 'Source Sans Pro';
}

.airdate p {
	margin: 0;
	margin-left: 1%;
}

.tune-in {
	padding-bottom: 10%;
	padding-top: 0;
}

.country, .pilgrimage, .time {
	position: relative;
	display: inline-block;
}

.country, .pilgrimage{
	float: left;
	margin-right: .2em;
}

.pilgrimage {
	font-weight: bold;
	font-size: 1.125em;
	color: #fff;
}

.country{
	font-weight: normal;
	font-size: 1em;
	color: #e6e7e8;
}

.country .web {
	display: inline-block;
}

.time {
	float: right;
	font-family: 'Source Sans Pro';
	font-weight: normal;
	font-size: 1.125em;
	color: #fff;
}

#grid2 {
	width: 100%;
	background-color: #fff;
}

.details {
	position: relative;
	width: 100%;
	padding: 0;
	font-size: 0;
}

.main {
	position: relative;
	width: 100%;
	z-index: 1;
	bottom: 0;
	margin: 0;
	opacity: .7;
}

.sub {
	width: 89.75%;
	margin-left: 5.97%;
	margin-right: 4.28%;
	position: absolute;
	bottom: 0;
	z-index: 2;
	padding: 0;
	margin-bottom: 5%;
	vertical-align: bottom;
}

.subcell.text, .subcell.text.playable {
	/*position: relative;
	float:left;*/
	width: 31%;
	/*margin-right: 1.69%;*/
	background-color: #414141;
}

.one, .two, .three {
	position: absolute;
	bottom: 0;
}

.one {
	left: 0;
}

.two {
	left: 32.69%;
}

.three {
	left:65.38%;
}


/*.subcell.playable:hover {
	box-shadow: 5px 5px 2px #888888;
	opacity: .9;
}*/

.subcell IMG {
	position: relative;
	width: 100%;
}

.videoCell {
	height: 0;
	padding-top: 25px;
	padding-bottom: 68.5%;
	margin-bottom: 10px;
	/*position: relative;
	margin-left: 1%;
	margin-right: 1%;
	float:left;*/
	width: 100%;
	overflow: hidden;
	/*margin-bottom: -70%;*/
}

.videoCell iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.subcell.text {
	width: 29%;
	text-align: left;
	padding: 1%;
	font-size: 10pt;
	font-family: 'Source Sans Pro';
}

.subcell.text.playable {
	padding: 0;
	background-color: #3a3a3c;
	font-family: georgia;
}

.videoHead {
	position: relative;
	float: left;
	overflow: hidden;
	padding: 5%;
	padding-right: 0;
}

.videoHead .title {
	font-weight: bold;
	font-size: 1.125em;
	color: #fff;
	display: inline-block;
}

.videoHead .duration {
	font-weight: normal;
	font-size: 1em;
	color: #d1d2d4;
	display: inline-block;
}

.subcell h4, .subcell h5, .subcell h6 {
	margin: 0;
	margin-top: 0.5em;
	color: #fff;
}

.subcell h4 {
	font-family: Georgia;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.875em;
	text-align: left;
}

.subcell h5 {
	font-family: Georgia;
	font-size: 1.625em;
	font-weight: normal;
}

.subcell h6 {
	font-weight: normal;
	font-size: 1.375em;
}

.subcell p {
	font-weight: lighter;
	font-size: 1.25em;
	line-height: 1.625em;
	color: #bcbdc0
}

footer {
	padding-top: 3em;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	color: #000;
	font-family: 'Source Sans Pro';
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	list-style-type: none;
}


.footercell {
	position: relative;
	float: left;
	width: 15%;
	font-size: 10pt;
	margin: 1%;
}

.footercell.funding {
	width: 25%;
	font-weight: normal;
	font-size: 0.75em;
	line-height: 0.9375em;
}

span {
	margin-left: 5%;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 0.875em;
}
span a {
	color: #bdac65
}

a:hover {
	text-decoration: underline;
}

.mobile {
	display: none;
}

.web {
	display: block;
}

.footTitle {
	margin-bottom: 1em;
}

@media only screen and (max-width: 995px) {

	.vidInfo {
		margin-top: -8%;
	}
}

@media only screen and (max-width: 945px) {

	.vidInfo {
		margin-top: -10%;
	}
}

@media only screen and (max-width: 895px) {

	.vidInfo {
		margin-top: -14%;
	}
}

@media only screen and (max-width: 860px) {

	.vidInfo {
		margin-top: -16%;
	}
}

@media only screen and (max-width: 840px) {

	.vidInfo {
		margin-top: -18%;
	}
}

@media only screen and (max-width: 820px) {

	.vidInfo {
		margin-top: -20%;
	}
}
@media only screen and (max-width: 767px) {

	.premiere {
		position: relative;
		float: left;
		text-align: center;
		width: 100%;
		padding: 0;
		margin: 0;
		margin-top: -150px;
	}

	.topContainer {
		margin-top: -80px;
	}

	.videoContainer {
		width: 96%;
		margin-left: 2%;
		margin-bottom: 0;
	}

	.vidInfo {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
		margin-top: -10%;
	}
}

@media only screen and (max-width: 600px) {

	.one, .two, .three {
		position: relative;
		float: left;
		left:0;
	}

	.premiere h2, .premiere h1 {
		display: block;
		text-align: center;
		line-height: 0.75em;
	}

	.premiere p {
		display: none;
	}

	.topContainer {
		margin-top: -50px;
	}

	/*.videoContainer {
		margin-bottom: -80px;
	}*/

	#grid {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}

	.col {
		width: 100%;
		margin: 0;
	}

	.cell {
		float: left;
		width: 49%;
		padding: 0;
		margin-left: 1%;
		background-color: #000;
	}

	.cell.airdate {
		width: 100%;
		background-color: #58595b;
	}

	.main {
		display: none;
	}

	.sub {
		position: relative;
		margin: 0;
		width: 100%;
	}

	.videoCell {
		width: 100%;
		margin: 0;
		margin-top: 5px;
		margin-bottom: -15%;
	}

	.subcell {
		width: 100%;
		margin-top: 15px;
	}

	.subcell.text.playable {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
	}

	.subcell.text {
		width: 90%;
		margin-right: 0;
		margin-left: 0;
		padding: 5%;
	}

	.subcell.playable:hover {
		opacity: .7;
	}

	.footercell {
		width: 20%;
	}

	.footercell.funding {
		width: 40%;
	}

	.airdate {
		text-align: center;
	}

	.time, .pilgrimage, .country {
		display: block;
		text-align: left;
		width: 100%;
	}

	.country .web {
		display: none;
	}

    .web {
    	display: none;
    }

    .mobile {
    	display: block;
    }

}

@media only screen and (max-width: 530px) {

	.premiere h1 {
		font-size: 1em;
	}

	.premiere h2 {
		font-size: .875em;
	}

	.topContainer {
		margin-top: -20px;
	}

	.premiere {
		margin-top: -120px;
	}

}