head {
	margin-right: auto;
	margin-left: auto;
}

h1 {
	background-color: #000;
	color: #fff;
	text-align: center;
}

h2 {
	background-color: #fff;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ddd;
}

#topContainer {
	position: relative;
	width: 100%;
	height: auto;
	background-color: #444;
	padding: 0;
}

#video {
	float: left;
	width: 50%;
	height: auto;
	margin-left: 25px;
}

#ad {
	float: left;
	background-color: #aaa;
	color: #fff
}

#grid {
	position: relative;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}

#grid IMG {
	position: relative;
	width: 150px;
	height: auto;
}

.cell {
	float: left;
	width: 33.33333%
}

#grid2 {
	width: 100%;
}

.details {
	padding-top: 20px;
	background-color: #eee;
}

.main {
	position: relative;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
}

.sub {
	padding: 1%;
	float:left;
	width: 30%;
}

.text {
	float:left;
	width: 33%;
	background-color: #bbb;
}

footer {

}