* { -webkit-transform: none!important; -webkit-transition-property: none!important; -webkit-backface-visibility: none!important;}


body {
	font-family: Georgia;
	margin: 0;
	padding: 0;
	background-color: #000;
}


.logo {
	position: relative;
	width: 100%;
	text-align: center;
	z-index: 0;
	overflow: hidden;
}

.logo IMG {
	position: relative;
	width: 100%;
}

.premiere {
	position: absolute;
	top: 2em;
	padding-left: 50%;
	margin-left: -300px;
}

.premiere h1, .premiere h2 {
	display: inline;
}

.premiere h1 {
	font-weight: bold;
	font-size: 1.25em;/*20/16px*/
	color: #fff3B9;
}

h2,h3 {
	font-family: 'Source Sans Pro';
}

.premiere a, .premiere h2 {
	font-weight: normal;
	font-size: 1.125em;
	color: #fff;
}


h3 {
	text-align: right;
	font-size: 0.75em;
	margin-bottom: 0.2em;
	color: #939598
}

.wholeContainer {
	width: 100%;
	max-width: 1024px;
	margin: 0px auto;
	overflow: hidden;
}

A {
	text-decoration: none;
}

.topReturn {
	text-align: center;
	position: fixed;
	width: 2.5em;
	height: 1.5em;
	left: -1em;
	background-color: #E4E4E4;
	z-index: 10;
	border-radius: 0.5em;
	padding: 0.2em;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 0.6em solid transparent;
	border-right: 0.6em solid transparent;
	border-bottom: calc(1.2em*0.866) solid black;
	z-index: 2;
	margin-left: 1.1em;
	margin-top: .2em;
}

.topContainer {
	float: left;
	width: 100%;
	height: auto;
	position:relative;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: -190px;
}

.videoContainer {
	height: 0;
	padding-top: 25px;
	padding-bottom: 68.5%;
	margin-bottom: 10px;
	position: relative;
	width: 56.5%;
	display: inline-block;
	margin-left: 5.97%;
	vertical-align: top;
	margin-bottom: -300px;
}

.videoContainer iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vidInfo {
	position: relative;
	float: left;
	margin-left: 5.97%;
	width: calc(99% - 350px);
}

.vidInfo h2, .vidInfo p {
	color: #e6e7e8;
	font-size: 1.125em;
}

.vidInfo h2 {
	font-family: georgia;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 0;
}

.vidInfo p {
	font-family: 'Source Sans Pro';
	font-weight: lighter;
	line-height: 1.5em;
}

.vidInfo p.tagline {
	font-family: georgia;
	font-weight: bold;
	font-size: 1.25em;
	margin-top: 0;
}

.cove-box {
  overflow: hidden; /*responsive video*/
  padding-bottom: 56%;
}

.cove-box.allowshare {
  padding-bottom: 70%; /*fallback when calc is not supported*/
  padding-bottom: -webkit-calc(56% + 41px); /*takes into account the topbar with fixed height!*/
  padding-bottom: calc(56% + 41px);
}


h4 {
	text-align: right;
	margin-top: 5%;
	margin-bottom: 2%;
}
/*All add-block css below*/

.add-container {
	top: 0;
	width: 300px;
	height: 310px;
	padding-left: 3%;
}

#add-block {
	position: static;
	margin: 0 auto;
	display: none;
}

#add-block-placer {
	display: none;
}

@media only screen and (min-width: 768px) {
      .js #add-block-placer { display: none; float: right; margin-right: 2%; vertical-align: top; }
      .js #add-block { display: inline-block; position: absolute; z-index: 1; vertical-align: top;}
    }

/* end of add-block code*/

.shop {
	width: 100%;
	background-color: #aaa;
	padding-top: 20px;
	margin-top: 1em;
	padding-bottom:20px;
	text-align: center;
	font-family: 'Source Sans Pro';
}

#grid {
	position: relative;
	width: 88.06%;
	margin-left: 5.97%;
	margin-right: 5.97%;
	height: auto;
/*	padding-left: 5%;
	padding-right: 5%;*/
	overflow: hidden;
}



.col {
	position: relative;
	float: left;
	width: 32.20%;
	right-margin: 2%;
	text-transform: uppercase;
}

.cell {
	width: 96%;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding: 3%;
	background-color: #3a3a3c;
	overflow: hidden;
}

.cell IMG {
	position: relative;
	width: 100%;
	height: auto;
}

.cell:hover IMG {
	opacity: .8;
}

.airdate {
	font-weight: bold;
	font-size: 1.375em;
	color: #d1d2d4;
	background-color: #58595b;
	padding-top: .8em;
	padding-bottom: .8em;
	font-family: 'Source Sans Pro';
}

.airdate p {
	margin: 0;
	margin-left: 1%;
}

.tune-in {
	padding-bottom: 10%;
	padding-top: 0;
}

.country, .pilgrimage, .time {
	position: relative;
	float: left;
	display: inline-block;
	padding: 0;
	margin: 2%;
}

.pilgrimage {
	font-weight: bold;
	font-size: 1.125em;
	color: #fff;
}

.country {
	font-weight: normal;
	font-size: 1em;
	color: #e6e7e8;
}

.time {
	float: right;
	font-family: 'Source Sans Pro';
	font-weight: normal;
	font-size: 1.125em;
	color: #fff;
}

.explore {
	z-index: 3;
	position: absolute;
	margin-top: 30%;
	margin-left: 35%;
	text-align: center;
	color: #fff;
	visibility: hidden;
}

.cell:hover .explore {
	visibility: visible;
}

#grid2 {
	width: 100%;
}

.details {
	position: relative;
	width: 100%;
	padding: 0;
	font-size: 0;
}

.main {
	position: relative;
	width: 100%;
	z-index: 1;
	bottom: 0;
	margin: 0;
	opacity: .7;
}

.sub {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 2;
	padding: 0;
	margin-bottom: 5%;
}

.subcell {
	position: relative;
	margin-right: 1%;
	float:left;
	width: 25.5%;
	height: 100%;
	background-color: #414141;
	display: inline;
	vertical-align: bottom;
}

/*.subcell.playable:hover {
	box-shadow: 5px 5px 2px #888888;
	opacity: .9;
}*/

.subcell IMG {
	position: relative;
	width: 100%;
}

.videoCell {
	height: 0;
	padding-top: 25px;
	padding-bottom: 68.5%;
	margin-bottom: 10px;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
	float:left;
	width: 26%;
	overflow: hidden;
	margin-bottom: -70%;
}

.videoCell iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.subcell.text {
	height: 100%;
	width: 26%;
	margin-left: 1%;
	text-align: left;
	padding: 1%;
	font-size: 10pt;
	font-family: 'Source Sans Pro';
}

/*.videoHead {
	background-color: #3a3a3c;
	padding: 1em;
	overflow: hidden;
}

.title {
	font-weight: bold;
	font-size: 1.125em;
	color: #fff;
}

.duration {
	font-weight: normal;
	font-size: 1em;
	color: #d1d2d4;
}*/

h4,h5,h6 {
	margin: 0;
	margin-top: 0.5em;
	color: #fff;
}

h4 {
	font-family: Georgia;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.875em;
	text-align: left;
}

h5 {
	font-family: Georgia;
	font-size: 1.625em;
	font-weight: normal;
}

h6 {
	font-weight: normal;
	font-size: 1.375em;
}

.subcell p {
	font-weight: lighter;
	font-size: 1.25em;
	line-height: 1.625em;
	color: #bcbdc0
}

footer {
	padding-top: 3em;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	color: #000;
	font-family: 'Source Sans Pro';
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	list-style-type: none;
}

/* TODO remove repetition */

.footercell {
	position: relative;
	float: left;
	width: 15%;
	font-size: 10pt;
	margin: 1%;
}

.footercell.funding {
	width: 25%;
	font-weight: normal;
	font-size: 0.75em;
	line-height: 0.9375em;
}

span {
	margin-left: 5%;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 0.875em;
}
span a {
	color: #bdac65
}

a:hover {
	text-decoration: underline;
}

#add-block-placer-mobile {
	display: none;
}

.mobile {
	display: none;
}

.web {
	display: block;
}

@media only screen and (max-width: 767px) {
	.topContainer {
		margin-top: -120px;
	}

	.videoContainer {
		width: 100%;
		margin-left: 0;
		margin-bottom: -100px;
	}

	.vidInfo {
		width: 98%;
	}

	.js #add-block-placer-mobile { display: inline; float: left; margin-right: 2%; vertical-align: to}
    .js #add-block { display: none; position: absolute; z-index: 1; vertical-align: top;}

    .web {
    	display: none;
    }

    .mobile {
    	display: block;
    }
}

@media only screen and (max-width: 600px) {

	.videoContainer {
		margin-bottom: -80px;
	}

	.col {
		width: 100%;
		margin: 0;
	}

	.cell {
		float: left;
		width: 44%;
		margin: 1%;
		padding: 2%;
	}

	.cell.airdate {
		width: 94%;
	}

	.main {
		display: none;
	}

	.sub {
		position: relative;
		margin: 0;
	}

	.videoCell {
		width: 100%;
		margin: 0;
		margin-top: 5px;
		margin-bottom: -15%;
	}

	.subcell {
		width: 100%;
		margin-top: 5px;
	}

	.subcell.text {
		width: 96%;
		margin-right: 0;
		margin-left: 0;
		padding: 2%;
	}

	.subcell.playable:hover {
		opacity: .7;
		box-shadow: none;
	}

	.footercell {
		width: 20%;
	}

	.footercell.funding {
		width: 40%;
	}

}